<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.nesp.android.cling">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application>
        <uses-library android:name="org.apache.http.legacy" android:required="false" />
        <service
                android:name=".service.ClingUpnpService"
                android:exported="false"/>


        <provider
            android:name="com.nesp.android.cling.util.UtilsFileProvider"
            android:authorities="${applicationId}.utilcode.provider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/util_code_provider_paths" />
        </provider>
    </application>
</manifest>
